### Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Docker ###
.env
docker-compose.override.yml

### IDE ###
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
.factorypath
.springBeans
.sts4-cache/

### System ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/